@import "./globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
    font-family: "Merriweather", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: $main-background-color;
    height: 100%;

    body {
        height: 100%;
        #root {
            height: 100%;
            .container {
                height: 100%;
                overflow: hidden;
                .page-title {
                    padding: 40px;
                    background-color: whitesmoke;
                    color: black;
                    text-shadow: rgba(0, 0, 0, 0.123) 0 3px 1px;
                    box-shadow: rgba(120, 120, 120, 0.249) 3px 5px 5px 1px;
                    z-index: 0;
                    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.123);
                }
            }
        }
    }
}
