{
  "arrowParens": "always",
  "bracketLine": true,
  "bracketSpacing": true,
  "encoding": "utf-8",
  "extensions": [".js", ".scss", ".html"],
  "printWidth": 120,
  "singleQuotes": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
