@import "../../globals.scss";

.popup-wrapper {
    position: relative;
}

.popup {
    position: fixed;
    overflow-y: scroll;
    width: 60vw;
    height: auto;
    top: 10%;
    left: 20%;
    transform: translate(-50%, 0);
    z-index: 9999;
    background-color: white;

    box-shadow: 0 0 0 1px rgba(97, 97, 97, 0.1), 0 3px 20px 0 rgba(92, 92, 92, 0.3), 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    overflow-y: auto;
    @include mobile {
        border-radius: 0px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.popup-top {
    padding: 20px 30px 0 30px;
    height: 70px;
    overflow-y: hidden;

    border-bottom: $border-color 5px solid;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    padding-bottom: 15px;

    h1 {
        color: black;
        flex: 90%;
        font-size: 25px;
        font-weight: 800;
    }
}

#popup-close-button {
    border: none;
    position: absolute;
    top: 14px;
    right: 17px;
    z-index: 9000;
    background-color: rgba(116, 11, 11, 0);
    width: 40px;
    height: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.popup-body {
    padding: 20px;
    max-height: 70vh;
    @include mobile {
        max-height: 100%;
    }
}

.active {
    transform: scale(1);
    pointer-events: all;
    opacity: 1;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9990;
    background-color: #ffffff70;
    backdrop-filter: blur(5px);
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}
