@import "../../globals.scss";
.chats-view {
    flex: 20%;
    min-width: 250px;
    height: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.043);
    border-right: $border-color 5px solid;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    overflow: auto;
    padding: 20px 20px 20px 20px;

    .chatItem {
        cursor: pointer;
        overflow: hidden;

        transition: all 0.2s;

        height: 70px;
        width: 16.6em;

        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 14px;
            text-align: right;
        }
        img {
            text-align: left;
        }
        padding: 15px;
        margin: 20px 10px 20px 0px;
        // background-color: rgba(255, 255, 255, 0.879);
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.096);
        &.chatActive {
            border-right: $border-color 10px solid;
            // width: 16em;
            margin-right: 0;
            background-color: rgba(249, 232, 232, 0);
            font-weight: 900;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 20px;
            color: black;
        }
    }
}
