@import "../../../globals.scss";
.details-container {
    overflow-y: scroll;
    flex: 0.2;
    min-width: 16em;
    background-color: rgb(255, 255, 255);

    box-shadow: 0 0 0 1px rgba(97, 97, 97, 0.1), 0 3px 20px 0 rgba(92, 92, 92, 0.3), 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;

    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .meetinginfo-container {
        padding: 30px;
        width: 100%;

        font-weight: bold;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.173);
        h1 {
            background-color: $highlight-color;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .meetinginfo-description {
            font-weight: normal;
            font-size: 15px;
        }
    }

    .description-container {
        padding: 30px 20px 0 20px;
        font-weight: bold;
        width: 100%;
        h1 {
            font-size: 15px;
            margin-bottom: 10px;
        }

        .details-description {
            font-weight: normal;
            word-wrap: break-word;
            width: 100%;
            font-size: 15px;
        }
    }
    .buttons {
        position: absolute;
        bottom: 20px;
        margin-left: 75px;
    }
}
