.next-meeting {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}
.recurring-schedule {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}
.one-time-meetings {
    padding: 5px;
    margin-bottom: 2px;
    border-bottom: 1px black solid;
}
