@import "../globals.scss";
.page {
    animation: page-load-up 0.3s ease-out;
    padding-top: 0px;

    height: calc(100vh - 4em);
    flex: 1;
    // border-bottom: 0px;

    .page-title {
        padding: 40px;
        @include mobile {
            padding: 40px;
        }
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 6em;
        background-color: rgba(103, 78, 48, 0.084);
        backdrop-filter: blur(10px);
        color: rgba(0, 0, 0, 0.858);
        text-shadow: rgba(0, 0, 0, 0.123) 0 3px 1px;
        z-index: 0;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.123);

        h1 {
            background-color: $highlight-color;
            padding: 0 20px 0 20px;
            // width: 150px;
            text-align: left;
            // padding-right: 20px;
        }
    }
}
@keyframes page-load-up {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 00px;
    }
}
