@import "../../globals.scss";

.top-bar {
    border-bottom: $border-color 5px solid;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    z-index: 20;
    background-color: white;
    transition: all 0.4s;

    .wrapper {
        padding: 10px 30px;
        height: 3.7em;

        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            h1 {
                font-size: 20px;
                padding-right: 20px;
                color: black;
            }
            .nav-item {
                margin: 20px;
                padding: 5px 10px 5px 10px;
                height: 100%;
                text-decoration: none;
                color: black;
                font-size: 15px;
                transition: all 0.4s;

                @include mobile {
                    display: none;
                }

                &:active {
                    background-color: lighten($color: $highlight-color, $amount: 10%);
                }
                &.active {
                    background-color: $highlight-color;
                    position: relative;
                    overflow: visible;
                    transition: all 0.4s;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -15px;
                        width: 100%;
                        height: 4px;
                        background-color: $border-color;
                        animation: rise 0.2s ease-in-out;
                    }
                }
            }
        }
        .right {
            .userInfoContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                .school {
                    font-size: 14px;
                    border-right: black 1px solid;
                    padding-right: 10px;
                }
                .name {
                    font-size: 14px;
                    font-weight: 800;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                @include mobile {
                    display: none;
                }
            }

            .hamburger {
                width: 20px;
                height: 15px;
                margin-right: 10px;
                display: none;

                @include mobile {
                    display: flex;
                }

                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    height: 2px;
                    width: 100%;
                    background-color: black;
                    transform-origin: left;
                    transition: 0.5s all ease;
                }
                &.activeHamburger {
                    span {
                        &:first-child {
                            transform: rotate(40deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:last-child {
                            transform: rotate(-40deg);
                        }
                    }
                }
            }
        }
    }
}

@keyframes rise {
    0% {
        bottom: -17px;
    }
    100% {
        bottom: -15px;
    }
}
