@import "../../globals.scss";
.post-container {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 45px;

    overflow: visible;
    .post-top {
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100%;

        h1 {
            font-size: 18px;
            background-color: black;
            padding: 5px;
            color: white;
        }
        .top-icon {
            font-size: 30px;
            width: 30px;
            margin-right: 10px;
        }
        padding-bottom: 20px;
    }

    .post-creator {
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        right: 20px;
    }
    .post-inner {
        overflow: visible;
        .post-details {
            padding: 20px;
            box-shadow: 0 0 0 1px rgba(97, 97, 97, 0.1), 0 3px 20px 0 rgba(92, 92, 92, 0.3),
                0 1px 2px rgba(0, 0, 0, 0.5);

            // border-radius: 5px;
            position: relative;
            overflow: visible;
            cursor: pointer;

            width: 87%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 80px;

            @include mobile {
                flex-direction: column;
            }

            .post-inner-content {
                flex: 90%;
                .post-title {
                    font-size: 30px;
                    padding: 10px;
                    top: 30px;
                    left: 30px;
                    word-wrap: break-word;
                }
                .post-body {
                    padding: 5px 10px 10px 10px;
                    // width: 90px;
                    word-wrap: break-word;
                    color: rgb(38, 38, 38);

                    padding-bottom: 15px;
                }
                display: flex;
                flex-direction: column;
            }

            hr {
                height: 2px;
                margin: 10px;
                background-color: $border-color;
            }
            .attachment {
                object-fit: contain;
                margin-top: 10px;
                width: 100%;
                max-height: 400px;
            }
        }
    }
    .post-metainfo {
        position: absolute;
        bottom: -36px;
        right: 8%;
        display: flex;
        justify-content: end;

        text-align: right;

        color: rgb(72, 72, 72);
        padding: 20px;
        padding-right: 50px;

        .post-date {
            text-align: right;
            font-size: 11px;
        }

        .post-response-count {
            font-size: 11px;
            width: 15em;
            margin-right: 10px;
            text-align: right;

            span {
                font-weight: 900;
            }
        }
    }
}
