@import "../../globals.scss";
.post-container {
    position: relative;
    width: 100%;
    cursor: pointer;

    .post-top {
        display: flex;
        justify-content: start;
        align-items: center;
        h1 {
            font-size: 18px;
            background-color: black;
            padding: 5px;
            color: white;
        }
        .top-icon {
            font-size: 30px;
            width: 30px;
            margin-right: 10px;
        }
        padding-bottom: 20px;
    }

    .post-creator {
        position: absolute;
        bottom: 60px;
        right: 20px;
    }
    .post-details {
        background-color: rgba(255, 255, 255, 0.721);
        padding: 20px;
        box-shadow: 0 0 0 1px rgba(97, 97, 97, 0.1), 0 3px 20px 0 rgba(92, 92, 92, 0.3), 0 1px 2px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        position: relative;
        overflow: visible;
        width: 87%;
        display: flex;
        flex-direction: column;

        .post-title {
            font-size: 25px;
            padding: 10px;
        }
        .post-body {
            padding: 5px 10px 10px 10px;
            color: rgb(38, 38, 38);
        }
        .post-response-count {
            font-size: 10px;
            text-align: right;
            padding-right: 20px;

            span {
                font-weight: 900;
            }
        }
    }
    .post-metainfo {
        display: flex;
        justify-content: start;
        color: white;

        .post-date {
            padding: 20px;
            width: 87%;
            text-align: right;
            font-size: 13px;
            text-shadow: rgba(0, 0, 0, 0.221) 0px 0px 5px;
        }
    }
}
