@import "../../globals.scss";
.HomePage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .subtitle {
        position: fixed;
        font-size: 80px;
        margin: 100px;
        overflow-x: visible;
        font-weight: 300;
        color: rgba(58, 58, 58, 0.872);
        font-weight: 900;
        font-size: 90px;
    }

    &::after {
        content: "";
        width: 94%;
        height: 80px;
        background-color: $highlight-color;
        position: absolute;
        z-index: -2;
        top: 7em;
        right: 0;
    }

    @media (max-width: $mobile-width) {
        & {
            display: block;
            padding: 0;
            margin: 0;
        }
        &::after {
            display: none;
        }
        .subtitle {
            display: none;
        }
    }
}
