.notification {
    opacity: 0;
    position: fixed;
    bottom: -100px;
    right: 20px;
    margin-left: 20px;
    backdrop-filter: blur(10px);
    padding: 20px 80px 20px 80px;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.064) 5px 5px 5px;
    text-shadow: rgba(0, 0, 0, 0.064) 5px 5px 5px;

    z-index: 2020020;

    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 15px;
    &.error {
        background-color: rgba(139, 0, 0, 0.413);
        color: white;
    }
    &.success {
        background-color: rgba(51, 121, 69, 0.646);
        color: white;
    }
    &.active {
        opacity: 1;
        bottom: 30px;
    }
}
