@import "../../../globals.scss";
.members-container {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 0 1px rgba(97, 97, 97, 0.1), 0 3px 20px 0 rgba(92, 92, 92, 0.3), 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px;
    overflow-y: scroll;
    flex: 0.2;
    min-width: 16em;

    .member {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        transition: all 0.2s;
        p {
            padding-left: 20px;
        }

        &:first-child {
            background-color: rgb(250, 250, 250);
        }
        &:nth-child(2n + 3) {
            background-color: rgb(244, 244, 244);
        }

        &:hover {
            border-left: 10px solid;
            background-color: rgb(244, 244, 244);
            color: black;
            cursor: pointer;
        }

        &.owner {
            margin-bottom: 20px;
            border-width: 20px;
        }
    }
}
