@import "../../globals.scss";
.search-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .search-area {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .open-search-filter-button-container {
        position: fixed;
        display: none;
        bottom: 0;
        right: 0;
        @include mobile {
            display: block;
        }
    }
}
