.feed-container {
    position: relative;
    overflow-y: scroll;
    flex: 0.6;
    // border: 2px solid black;
    // background-color: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(3px);

    // border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;

    .posts-container {
        padding-bottom: 100px;
    }

    .options-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;
    }
}
