.feed-container {
    position: relative;
    overflow: visible;
    overflow-y: scroll;
    flex: 0.6;
    backdrop-filter: blur(3px);

    overflow: auto;
    padding: 20px;

    scrollbar-width: none;
    .posts-container {
        padding-bottom: 30px;
        overflow: visible;
    }
}

.options-container {
    position: fixed;
    z-index: 900;
    bottom: 0;
    right: 300px;
    width: 100%;
    text-align: right;
}
