.inline {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  padding: 10px;
  #left {
    flex: 50%;
  }
  #right {
    flex: 50%;
  }
}

.photo {
  background-color: whitesmoke;
  img {
    width: 90px;
    text-align: left;
  }
}

input[type="file"] {
  border: none;
  padding: 25px;
  appearance: none;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;
  box-shadow: 1px 1px 1px rgb(235, 235, 235);

  font: inherit;
  color: currentColor;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(2, 138, 34);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.imgPreview {
  width: 100%;
  padding: 20px;
}
