@import "../../globals.scss";
.message-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;

    .message-area {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .guest-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        h1 {
            margin: 20px;
            padding: 10px;
            background-color: $highlight-color;
        }
        p {
            padding: 10px;
            color: rgb(87, 87, 87);
            font-size: 20px;
        }
    }

    .open-chats-view-button-container {
        position: absolute;
        display: none;
        top: 5px;
        right: 0;
        z-index: 0;
        @include mobile {
            display: block;
        }
    }
}
